.notification-transition {
  animation: notification 500ms ease-in;
}
.notification-hide-transition {
  animation: notification-hide 500ms ease-in;
  animation-fill-mode: forwards;
}

@keyframes notification {
  0% {
    opacity: 0;
    right: 0;
  }
  20% {
    opacity: 0;
    right: 2rem;
  }
  100% {
    opacity: 1;
    right: 4rem;
  }
}

@keyframes notification-hide {
  0% {
    opacity: 1;
    right: 4rem;
  }
  20% {
    opacity: 1;
    right: 2rem;
  }
  100% {
    opacity: 0;
    right: 0rem;
  }
}
